{% extends "layout.html" %}

{% block body %}
    <h1>Dashboard <small> Welcome {{user.username}}</small></h1>
    <a class="btn btn-success" href="/addquestion">Add Question</a>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Q.no</th>
            <th>question</th>
            <th>option1</th>
            <th>option2</th>
            <th>option3</th>
            <th>option4</th>
            <th></th>
            <th></th>
        </tr>
        {% for question in questions %}
            {% if question.yid is sid|add:"0" %}
            <tr>
                <td>{{question.questionid}}</td>
                <td>{{question.question}}</td>
                <td>{{question.option1}}</td>
                <td>{{question.option2}}</td>
                {% if not question.option3 %}
                <td>Not Given</td>
                {% else %}
                <td>{{question.option3}}</td>
                {% endif %}
                {% if not question.option4 %}
                <td>Not Given</td>
                {% else %}
                <td>{{question.option4}}</td>
                {% endif %}
                <td><a href="editquestion/{{question.questionid}}" class="btn btn-success">Edit</a></td>
                <td>
                        <form action="deletequestion/{{question.questionid}}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name ="method" value="DELETE">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>    
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}