
<link rel="stylesheet" href="/static/fp.css">

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery.easing.min.js"></script>
<div class="log-form">
  <h2>Forgot Password</h2>

  <form method="post" >
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn" href="/login">SUBMIT</button>
<style>
                label {
                    display: none;
                }
            </style>
        <script>
          $('#id_username').attr('placeholder', 'USERNAME');
          $('#id_email').attr('placeholder','EMAIL');
        </script>
  </form>
</div><!--end log form -->
