<link rel="stylesheet" href="/static/update_password.css">
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery.easing.min.js"></script>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
</head>
<body>
<div class="container">
  <div class="main">
    <div class="form">
      <div class="signIn">
          <form  method="post">
            <div class="signIn__title">Change Password</div>
            {% csrf_token %}
              {{ form }}
            <input class="input__button"type="submit" class="button" value="Save" />
              <style>
                label {
                    display: none;
                }
            </style>
        <script>

          $('#id_old_password').attr('placeholder','Old Password');
          $('#id_new_password1').attr('placeholder','New Password');
          $('#id_new_password2').attr('placeholder','New Password Confirmation');
      </script>
          </form>
      </div>

    </div>
    </div>
</div>
</body>
</html>


